<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2> <%= @actor_movies.first['name'] %> </h2>

    <ul>
      <% @actor_movies.each do |movie| %>
      <li>
        <a href="/movies/<%= movie['movie_id'] %>">
          <%= movie['title'] %> </a> -- <%= movie['character'] %>
      </li> <br>
       <% end %>
    </ul>

    <a href="/actors">
      <button type="button" name="home">Back to Actors</button>
    </a>
    <a href="/movies">
     <button type="button" name="home">Back to Movies</button>
    </a>

  </body>
</html>
